html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    color: #fff; 
}

/* Estilizando o cabeçalho superior */
.superior {
    background-color: #333; /* Cor de fundo cinza escuro */
    color: #fff; /* Cor do texto branca */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    background-image: url(logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px; /* Ajuste o tamanho do logotipo conforme necessário */
    height: 50px; /* Ajuste o tamanho do logotipo conforme necessário */
}

.titulo {
    font-size: 24px;
}

/* Estilizando a seção central */
.central {
    background-color: #fff; /* Cor de fundo branca */
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.meio {
    display: flex;
    justify-content: space-between;
}

.menor {
    background-color: #333; /* Cor de fundo cinza escuro */
    color: #fff; /* Cor do texto branca */
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

/* Estilizando a seção inferior */
.inferior {
    background-color: #333; /* Cor de fundo cinza escuro */
    color: #fff; /* Cor do texto branca */
    text-align: center;
    padding: 20px;
}

.inferior_titulo {
    font-size: 24px;
}

/* Estilizando o iframe */
.iframec {
    background-color: #fff; /* Cor de fundo branca */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 20px auto;
    padding: 20px;
    color: #333; /* Cor do texto cinza escuro */
    text-align: center;
}
