html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.fundo-blur {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(5px);
}

.fundo-blur img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.superior {
    border: solid red 1px;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center; 
 
}

.logo {
    background-image: url(logo.png);
    border: solid rgb(247, 1, 255) 1px;
    width: 2%;
    height: 100%;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}

.titulo {
    border: solid rgb(30, 255, 0) 1px;
    width: 80%; 
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 200%;
}

.central {
    width: 100%;
    height: 50px;
}

.meio {
    border: solid rgb(109, 109, 109) 1px;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    display: flex;
	align-items: center;

}


.menor {
    border: solid yellow 1px;
    width: 24%;
    height: 50px; 
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
	font-size: 150%;

}


.inferior {
    border: solid rgb(255, 255, 255) 1px;
    width: 50%;
    height: 5%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.inferior_titulo {
    font-size: 24px; 
    text-align: center; 
}

.Explica {
    font-size: 18px; 
    text-align: center; 
}

.iframec {
    width: 50%;
    height: 50%;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin: 0 auto;
    color: rgb(41, 41, 41);

}

